{% extends 'layout.html' %}
{% block body %}
<h2>Howdy</h2>
<p>Follow this guide on how to use this program:
    <br>
    <br>
    -Register a user if you want to display a username next to your post.
    <br>
    Alternatively you can use one of our anonymous user accounts.
    <br>
    <br>
    -Fill in the fields on the 'Ask' Page
    <br>
    Dont forget you put in your email so someone can your out to you to discuss your post privately.
    <br>
    <br>
    -Once you have talked to someone, update your status
    <br>
    You can delete your post at any time you please
</p>
{% endblock body %}